<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="footer">
  <h2>안녕하세요</h2>
</div>
</body>
<script>
  let num = 10;
  console.log(num);
  num = 20;
  console.log(num);
  // 날짜 확인
  const date = new Date();
  console.log(date);
  console.log(date.getFullYear());
  const footer = document.getElementById("footer");
  const footer1 = document.querySelector("#footer");
  footer.innerHTML = "<p>&copy; " + date.getFullYear() + "&nbsp; junsangWorld All rights reseves";
</script>
</html>